<script src="~/js/rate/rater.min.js"></script>
@model FoodListbyRestaurantIdMainModel
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .hidden {
        display: none;
    }
</style>

<section id="menu" class="hero d-flex align-items-center section-bg menu">
    <div class="container" data-aos="fade-up">

        <div class="section-header">
            <h2>Our Food</h2>
            <p>Restaurants with online food delivery</p>
        </div>

        @await Component.InvokeAsync("PartialFoodList",Model)

    </div>
</section>