@model LoginRegisterModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .registrationLink {
        color: #0d6efd !important;
    }

    /*
            // .input-check
            */
    .input-check {
        display: inline-block;
    }

    .input-check__body {
        display: block;
        position: relative;
        width: 16px;
        height: 16px;
    }

    .input-check__input {
        opacity: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        cursor: inherit;
    }

    .input-check__box {
        display: block;
        width: 16px;
        height: 16px;
        border-radius: 1.2px;
        background: #fff;
        -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset;
        box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset;
        -webkit-transition: background 0.15s, -webkit-box-shadow 0.15s;
        transition: background 0.15s, -webkit-box-shadow 0.15s;
        transition: background 0.15s, box-shadow 0.15s;
        transition: background 0.15s, box-shadow 0.15s, -webkit-box-shadow 0.15s;
    }

    .input-check__icon {
        pointer-events: none;
        position: absolute;
        left: 4px;
        top: 5px;
        fill: #fff;
        -webkit-transform: scale(0);
        transform: scale(0);
        -webkit-transition: fill 0.15s, visibility 0s 0.15s, -webkit-transform 0.15s;
        transition: fill 0.15s, visibility 0s 0.15s, -webkit-transform 0.15s;
        transition: fill 0.15s, transform 0.15s, visibility 0s 0.15s;
        transition: fill 0.15s, transform 0.15s, visibility 0s 0.15s, -webkit-transform 0.15s;
    }

        .input-check__icon svg {
            display: block;
        }

    .input-check__input:checked ~ .input-check__box {
        background: #0d6efd;
        -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05) inset;
        box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05) inset;
    }

    .input-check__input:checked ~ .input-check__icon {
        fill: #fff;
        -webkit-transition-delay: 0s, 0s, 0s;
        transition-delay: 0s, 0s, 0s;
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    .input-check__input:disabled ~ .input-check__box {
        background: #f2f2f2;
        -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1) inset;
        box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1) inset;
    }

    .input-check__input:disabled ~ .input-check__icon {
        fill: rgba(0, 0, 0, 0.2);
    }

    /*
            // .input-check-color
            */
    .input-check-color {
        display: inline-block;
    }

    .input-check-color__body {
        display: block;
        position: relative;
        width: 22px;
        height: 22px;
        border-radius: 1.2px;
        overflow: hidden;
        cursor: inherit;
        margin: 0;
    }

    .input-check-color__input {
        position: absolute;
        visibility: hidden;
    }

    .input-check-color__box {
        display: block;
        width: 22px;
        height: 22px;
        border-radius: 1.2px;
        background: currentColor;
        cursor: inherit;
    }

    .input-check-color__icon {
        position: absolute;
        left: 5px;
        top: 6px;
        fill: #fff;
        -webkit-transform: scale(0);
        transform: scale(0);
        -webkit-transition: -webkit-transform 0.15s;
        transition: -webkit-transform 0.15s;
        transition: transform 0.15s;
        transition: transform 0.15s, -webkit-transform 0.15s;
    }

        .input-check-color__icon svg {
            display: block;
        }

    .input-check-color__input:checked ~ .input-check-color__icon {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    .input-check-color__input:disabled {
        cursor: default;
    }

        .input-check-color__input:disabled ~ .input-check-color__box {
            position: relative;
            left: 0px;
            top: 0px;
            width: 22px;
            height: 22px;
            opacity: .5;
            cursor: default;
        }

        .input-check-color__input:disabled ~ .input-check-color__stick {
            pointer-events: none;
            display: block;
            position: absolute;
            width: 2px;
            border-radius: 1px;
            height: 34px;
            left: calc(50% - 1px);
            top: -6px;
            background: rgba(102, 102, 102, 0.9);
            -webkit-transform: rotateZ(45deg);
            transform: rotateZ(45deg);
            -webkit-transform-origin: center center;
            transform-origin: center center;
        }

    .input-check-color--light .input-check-color__icon {
        fill: #3d464d;
    }

    .input-check-color--white .input-check-color__box {
        -webkit-box-shadow: 0 0 0 2px #d9d9d9 inset;
        box-shadow: 0 0 0 2px #d9d9d9 inset;
    }

    .input-check-color--white .input-check-color__icon {
        fill: #bfbfbf;
    }

    /*
            // .input-number
            */
    .input-number {
        display: block;
        width: 100%;
        position: relative;
    }

    .input-number__input {
        -moz-appearance: textfield;
        display: block;
        width: 100%;
        min-width: 88px;
        padding-left: 24px;
        padding-right: 24px;
        text-align: center;
    }

        .input-number__input::-webkit-inner-spin-button, .input-number__input::-webkit-outer-spin-button {
            -webkit-appearance: none;
        }

    .input-number__sub,
    .input-number__add {
        position: absolute;
        height: 100%;
        width: 24px;
        top: 0;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        opacity: .3;
        -webkit-transition: opacity .18s;
        transition: opacity .18s;
    }

        .input-number__sub:before, .input-number__sub:after,
        .input-number__add:before,
        .input-number__add:after {
            display: block;
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
            background: currentColor;
        }

        .input-number__sub:before,
        .input-number__add:before {
            width: 8px;
            height: 2px;
        }

        .input-number__sub:hover,
        .input-number__add:hover {
            opacity: 1;
        }

    [dir=ltr] .input-number__sub {
        left: 1px;
    }

    [dir=rtl] .input-number__sub {
        right: 1px;
    }

    [dir=ltr] .input-number__add {
        right: 1px;
    }

    [dir=rtl] .input-number__add {
        left: 1px;
    }

    .input-number__add:after {
        width: 2px;
        height: 8px;
    }

</style>
an
<style>
    .block {
        margin: auto;
    }
</style>
<!-- site__body -->
<section id="hero" class="hero d-flex align-items-center section-bg">
    <div class="block-space block-space--layout--after-header"></div>
    <div class="block">
        <div class="container container--max--lg">
            <div class="row">
                <div class="col-md-6 d-flex">
                    <div class="card flex-grow-1 mb-md-0 mr-0 mr-lg-3 ml-0 ml-lg-4">
                        <div class="card-body card-body--padding--2">
                            <div id="dvLogin">
                                @await Component.InvokeAsync("LoginUser")
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 d-flex mt-4 mt-md-0">
                    <div class="card flex-grow-1 mb-0 ml-0 ml-lg-3 mr-0 mr-lg-4">
                        <div class="card-body card-body--padding--2">
                            <div id="dvRegister">
                                @await Component.InvokeAsync("RegisterUser",new{registerUserModel=Model.registerUserModel})
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="block-space block-space--layout--before-footer"></div>

</section>