@model DashboardMainModel
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<style>
    section {
        padding: 20px 0 !important;
    }
</style>
<!-- ======= Hero Section ======= -->
<section id="hero" class="hero d-flex align-items-center section-bg">
    <div class="container">
        <div class="row justify-content-between gy-5">
            <div class="col-lg-5 order-2 order-lg-1 d-flex flex-column justify-content-center align-items-center align-items-lg-start text-center text-lg-start">
                <h2 data-aos="fade-up">Enjoy Your Healthy<br>Delicious Food</h2>
                <p data-aos="fade-up" data-aos-delay="100">Sed autem laudantium dolores. Voluptatem itaque ea consequatur eveniet. Eum quas beatae cumque eum quaerat.</p>

            </div>
            <div class="col-lg-5 order-1 order-lg-2 text-center text-lg-start">
                <img src="frontassets/img/hero-img.png" class="img-fluid" alt="" data-aos="zoom-out" data-aos-delay="300">
            </div>
        </div>
    </div>
</section>
<section id="menu" class="menu">
    <div class="container" data-aos="fade-up">

        <div class="section-header">
            <h2>Our Tiffin Services</h2>
            <p>Tiffin Services with online delivery</p>
        </div>

        <div class="tab-content" data-aos="fade-up" data-aos-delay="300">

            <div class="tab-pane fade active show" id="menu-vegetarian">
                <div class="row gy-5">
                    @if (Model.restaurantDetailModel.Count() > 0)
                    {
                        var tiffinList = Model.restaurantDetailModel.Where(x => x.IsTiffinServices == true).ToList();
                        @foreach (var item in tiffinList)
                        {
                            var Image = "/Images/TiffinServices/" + @item.ImageName;
                            <div class="col-lg-4 menu-item" style="max-height:300px">
                                <a href="/restaurants-tiffin/@item.RestaurantID" class="">
                                    <img src="@Image" class="menu-img img-fluid" alt="@item.RestaurantName" style="height:70%">
                                </a>
                                <h4>@item.RestaurantName</h4>
                            </div>
                        }
                    }

                </div>
            </div><!-- End Starter Menu Content -->
        </div>

    </div>
</section>