@{
    SessionUser sessionUser = Context.Session.GetComplexData<SessionUser>(Common.SessionKeys.UserSession);
}
<style>

    .indicator__button {
        background: #f2f2f2;
        padding: 3px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        position: relative;
        height: 54px;
        min-width: 54px;
        color: inherit;
        border-radius: 2px;
        border: none;
        padding-right: 12px;
    }

    .indicator__icon {
        position: absolute;
        padding: 8px;
        display: block;
        width: 48px;
        height: 48px;
    }

    .indicator__title {
        padding-top: 3px;
        margin-bottom: -3px;
        font-size: 13px;
        margin-left: 50px;
    }

    .indicator__value {
        margin-left: 50px;
        font-weight: 500;
    }

    .indicator__content {
        top: 100%;
        position: absolute;
        visibility: hidden;
        transform-origin: top;
        transform: rotateX(60deg);
        opacity: 0;
        transition: transform .2s,opacity .2s,visibility 0s .2s,-webkit-transform .2s;
    }

    [dir=ltr] .indicator__counter:before {
        left: 0;
        right: 0;
        -webkit-transform: skewX(-11deg);
        transform: skewX(-11deg);
    }

    .indicator__counter:before {
        background-color: #e52727;
    }
    .indicator__counter {
        background-color: #e52727;
    }
    .indicator__counter:before {
        display: block;
        position: absolute;
        content: '';
        top: 0;
        bottom: 0;
        z-index: -1;
        border-radius: 2.5px;
    }
    [dir=ltr] .indicator__counter {
    right: 4px;
}
.indicator__counter {
    color: #fff;
    font-weight: 500;
}
.indicator__counter {
    position: absolute;
    top: 5px;
    font-size: 10px;
    line-height: 1;
    padding: 2px 3px 1px;
    border-radius: 6.5px;
    text-align: center;
    z-index: 0;
}

[dir=ltr] .indicator__counter:before {
    left: 0;
    right: 0;
    -webkit-transform: skewX(-11deg);
    transform: skewX(-11deg);
}

.indicator__counter:before {
    background-color: #e52727;
}
.indicator__counter:before {
    display: block;
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    z-index: -1;
    border-radius: 2.5px;
}

    .search {
        display: flex;
        align-items: center;
    }

        .search input[type="text"] {
            padding: 7px;
            border: 1px solid #ccc;
            border-radius: 5px;
            margin-right: -10px;
        }

        .search button {
            padding: 7px 15px;
            background-color: #f2f2f2;
            color: #000;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            border: 1px solid black;
            border-radius: unset;
        }

</style>

<div class="container d-flex align-items-center justify-content-between">

    <a href="index.html" class="logo d-flex align-items-center me-auto me-lg-0">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="frontassets/img/logo.png" alt=""> -->
        <h1>Food Delivery</h1>
    </a>

    <nav id="navbar" class="navbar">
        <ul>
            <li><a href="/">Home</a></li>
            @* <li><a href="#about">About</a></li>*@
            <li><a href="/">Restaurants</a></li>
            <li><a href="/all-foodlist">Food</a></li>
        </ul>
    </nav><!-- .navbar -->
    <div class="header__search">
        <div class="search">
            <form asp-route="SearchFoodRestaurant" class="search__body">
                <div class="search">
                    <input type="text" id="SearchBy" name="SearchBy" placeholder="Search...">
                    <button id="searchButton">Search</button>
                </div>
            </form>
        </div>
    </div> 
    <div class="header__indicators">
        <div class="indicator">
            <a class="indicator__button" href=@(sessionUser != null ? "/order-history":"/login-register")>
                <span class="indicator__icon">
                    <svg width="32" height="32">
                        <path d="M16,18C9.4,18,4,23.4,4,30H2c0-6.2,4-11.5,9.6-13.3C9.4,15.3,8,12.8,8,10c0-4.4,3.6-8,8-8s8,3.6,8,8c0,2.8-1.5,5.3-3.6,6.7
C26,18.5,30,23.8,30,30h-2C28,23.4,22.6,18,16,18z M22,10c0-3.3-2.7-6-6-6s-6,2.7-6,6s2.7,6,6,6S22,13.3,22,10z"></path>
                    </svg>
                </span>
                @if (sessionUser != null)
                {   
                   
                    <span class="indicator__title">Hello, @sessionUser.FullName</span>
                    <span class="indicator__value">My Account</span>
                    <a asp-route="Logout">Logout</a>
                }
                else
                {
                    <span class="indicator__title">Hello, Log In</span>
                    <span class="indicator__value">My Account</span>
                }

            </a>
            
        </div>
    </div>
     <div id="TopHeaderCartList" class="indicator indicator--trigger--click  cartForHideModal" >
        @await Component.InvokeAsync("CartDetail")
    </div>
    <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
    <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

</div>