<script src="~/js/rate/rater.min.js"></script>
<style>
    .account-nav {
        background-color: #fff;
        -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.09);
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.09);
    }

    .account-nav__title {
        padding: 1.375rem 1.5rem;
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 0;
    }

    .account-nav__list {
        list-style: none;
        padding: 0;
        margin: 0;
        font-size: 15px;
        line-height: 20px;
        padding-bottom: 1.375rem;
    }

    [dir=ltr] .account-nav__item--active a {
        -webkit-box-shadow: 3px 0 #e52727 inset;
        box-shadow: 3px 0 #e52727 inset;
    }

    .account-nav__item--active a {
        color: inherit;
        font-weight: 500;
    }

    .account-nav__item a {
        cursor: pointer;
        display: block;
        color: #6c757d;
        padding: 7px 1.5rem;
    }

    .dashboard {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .dashboard__orders {
        margin-top: 24px;
        width: 100%;
    }

    .card {
        background-color: #fff;
        -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.09);
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.09);
        border: none;
        border-radius: 0;
    }

    .card-header {
        border-radius: 0;
        background: transparent;
        padding: 1.25rem 2rem;
        border: none;
    }

    .card-divider {
        height: 1px;
        background: #ebebeb;
    }

    .card-table {
        font-size: 15px;
        Padding: 10px
    }

    [dir=ltr] .card-table table {
        text-align: left;
    }

    .card-table table {
        width: 100%;
        min-width: 500px;
    }

    .popover {
        max-width: 25%;
    }

        .popover .box {
            border-width: 0px;
        }

    .packageTagPopup {
        width: 103%;
        margin-left: -9px;
        max-height: 266px;
        max-width: 614px;
    }
    .popover .box-body {
        padding-bottom: 0px;
    }

    .popover button.close {
        top: 1px;
    }

    #closepopover {
        font-size: 25px;
        padding: 4px;
        cursor: pointer;
    }

    .popover .move_right {
        position: absolute;
        top: -7px;
        right: 9px;
        z-index: 99999999;
    }
    .hidden{
        display:none;
    }
</style>
<script>
    $(document).ready(function () {
        GetUserOrderList();
    });
    var popoverElement;
    var popTemplate = [
        '<div class="popover" role="tooltip">',
        '<div class="popover-arrow"></div>',
        '<div class="with-border">',
        '<h3 class="box-title popover-header"></h3>',
        '<div class="move_right">',
        '<span id="closepopover" class="close" aria-hidden="true">&times;</span>',
        '</div>',
        '<div class="popover-body"></div>',
        '</div></div>'].join('');
    function OpenUserPopOver(title, html) {
        debugger
        var item = new bootstrap.Popover(popoverElement, { html: true, trigger: 'click', container: 'body', placement: 'left', template: popTemplate, content: html, title: title, animation: true, sanitize: false });
        item.show();
    }

    function closePopovers() {
        $('.popover').popover().hide();
    }
    $(document).off('click', '.ratePopOver').on('click', '.ratePopOver', function () {
        debugger
        closePopovers();
        var OrderDetailId = $(this).data('orderdetailid');
        var Rate = $(this).data('foodrate');
       

        var popuphtml = '<div class="rating faPrimaryColor" style="font-size:30px;color:#ffe339;"><input type="text" id="ProspectRating" Name="ProspectRating" Class = "form-control field-input hidden"/></div><div class="popover-footer"><a class="btn btn-success btn-sm close" onclick="javascript:RateToFood(' + OrderDetailId + ')" >Submit</a></div>';

        popoverElement = $(this);
        OpenUserPopOver("<h4 class='custom-title'>Rate Us</h4>", "<div class='row packageTagPopup'>" + popuphtml + "</div>");
        $(".rating").rate();
        var options = {
            max_value: 5,
            step_size: 0.5,
            initial_value: 0,
        }
        $("#ProspectRating").val(Rate);
        $(".rating").rate(options);
        $(".rating").rate("setValue", $("#ProspectRating").val());

        $(".rating").on("change", function (ev, data) {
            $("#ProspectRating").val($(".rating").rate("getValue"))
        });

    });

    $('body').on('click', function (e) {
        // close the popover if: click outside of the popover || click on the close button of the popover
        if (popoverElement && ((!popoverElement.is(e.target) && popoverElement.has(e.target).length === 0 && $('.popover').has(e.target).length === 0) || (popoverElement.has(e.target) && e.target.id === 'closepopover'))) {
            closePopovers();
        }
    });
    function GetUserOrderList() {
        $('#GetUserOrderList').dataTable({
            "responsive": true,
            "bServerSide": true,
            "sAjaxSource": siteURL + 'Secure/GetUserOrderList',
            "fnServerParams": function (aoData, fnCallback) {
            },
            "processing": true,
            "bLengthChange": true,
            "bInfo": true,
            "paging": true,
            "searching": true,
            "columnDefs": [],
            "order": [[1, "desc"]],
            "lengthMenu": [10, 25, 50, 75, 100],
            "rowGroup": {
                enable: true,
                startRender: function (rows, group) {
                    var OrderId = rows.data().pluck(1).reduce(function (a, b) {
                        return b;
                    }, 0);
                    var OrderDate = rows.data().pluck(7).reduce(function (a, b) {
                        return b;
                    }, 0);
                    var TotalPrice = rows.data().pluck(6).reduce(function (a, b) {
                        return b;
                    }, 0);

                    var trHtml = '<td style="font-size: 13px;font-weight: bold;" class="remove-colspan">' + OrderId + '</td>' +
                        '<td style="font-size: 13px;font-weight: bold;" class="remove-colspan"> OrderDate : ' + OrderDate + '</td>' +
                        '<td></td>' +
                        '<td style="font-size: 13px;font-weight: bold;" class="remove-colspan"> TotalPrice : ' + TotalPrice + '</td>' +
                        '<td></td><td></td><td></td>';

                    return $('<tr style="background-color: rgb(228, 228, 228);"/>').append(trHtml);
                },
                dataSrc: [1]
            },
            "aoColumns": [
                { "sName": "UserId", "bVisible": false, "bSearchable": false, "bSortable": false },
                {
                    "sName": "OrderId", "bVisible": true, "bSearchable": true, "bSortable": true,
                    "mRender": function (data, type, aoData) {
                        return "";
                    }
                },
                { "sName": "OrderDetailID", "bSearchable": true, "bSortable": true },
                { "sName": "Name", "bSearchable": true, "bSortable": false },
                { "sName": "Price", "bSearchable": true, "bSortable": false },
                { "sName": "Qauntity", "bSearchable": true, "bSortable": false },
                { "sName": "TotalPrice", "bVisible": false, "bSearchable": true, "bSortable": true },
                { "sName": "OrderDate", "bVisible": false, "bSearchable": true, "bSortable": true },
                { "sName": "OrderStatus", "bVisible": true, "bSearchable": true, "bSortable": true },
                {
                    "sName": "RatingUs", "bVisible": true,
                    "mRender": function (data, type, aoData) {
                        return '<button type="button" id="searchButton" class="btn btn-success ratePopOver" data-toggle="popover" data-foodrate='+aoData[9]+' data-orderdetailid=' + aoData[2] + '>Rate Food</button>';
                    }
                },
            ],

            oLanguage: { sEmptyTable: "No Records Found." },
            processing: true,
            destroy: true,
            stateSave: false
        });
    }
    function RateToFood(OrderDetailId) {
        debugger
        var Rate = $("#ProspectRating").val();
        $.ajax({
            url: siteURL + "Secure/RateToFood",
            type: 'POST',
            data: { "OrderDetailId": OrderDetailId,"Rate":Rate }
        })
            .done(
                function (data, textStatus, jqXHR) {
                    showToastPortal('success', '', 'Rate to food sucessfully');
                })
            .fail(function (jqXHR, textStatus, errorThrown) {
                showToastPortal('danger', '', 'Something went wrong, you cannot give rate to this food');
            }).always(function (data, textStatus, errorThrown) {
                //write content here
            });
    }
    
</script>
<style>
    #GetUserOrderList {
        width: 100% !important;
    }
</style>
<section id="menu" class="hero align-items-center section-bg menu">
    <div class="block">
        <div class="container container--max--xl">
            <div class="row">
                <div class="col-12 col-lg-2 d-flex">
                    <div class="account-nav flex-grow-1">
                        <h4 class="account-nav__title">My Account</h4>
                        <ul class="account-nav__list">
                            <li class="account-nav__item account-nav__item--active">
                                <a asp-route="OrderHistory">Order History</a>
                            </li>
                            <li class="account-nav__divider" role="presentation"></li>
                            <li class="account-nav__item ">
                                <a asp-route="Logout">Logout</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-lg-10 mt-4 mt-lg-0">
                    <div class="card">
                        <div class="card-header">
                            <h5>Order History</h5>
                        </div>
                        <div class="card-divider"></div>
                        <div class="card-table">
                            <div class="table-responsive-sm">
                                <table id="GetUserOrderList" class="display table nowrap table-striped table-hover table-bordered">
                                    <thead>
                                        <tr>
                                            <th>#User Id</th>
                                            <th>Order Id</th>
                                            <th>Order Detail ID</th>
                                            <th>Name</th>
                                            <th>Food Price</th>
                                            <th>Qauntity</th>
                                            <th>Total Price</th>
                                            <th>Order Date</th>
                                            <th>Order status</th>
                                            <th>Rating</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="block-space block-space--layout--before-footer"></div>
</section>